{%extends 'base.html'%}
{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Piclab</title>

  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'CSS/landing.css' %}">
  {% endblock %}


</head>

<body>
  {% block content %}
  <div class="row">
    <section>
      {% include "navbar.html" %}
      <br>
      <br>
      <br>
      <br>
      <hr style="width:30%;">
      <h1 style="color:white;" class='text-center'>Piclab</h1>
      <hr style="width:30%;">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </section>

  </div>
  <br>
  <br>
  <br>

  <section>
    <div class="button" align="center">
        <button style="background-color:#09181D;" class="btn btn-basic" name="button"><a style="color:white;" href="{% url 'gallery'%}">Get Started</a></button>
    </div>


  </section>


  {%endblock%}

  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %}
  {% endblock %}
</body>

</html>
