{% load bootstrap3 %}
{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'CSS/landing.css' %}">
  {% endblock %}
  <title>Piclab</title>
</head>

<body>
  {%block content%}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="closeup">
      <ul>
        <li> <a style="color:white;" class="navbar-brand" href="{% url 'landing'%}">HOME</a></li>
      </ul>

    </div>
  </nav>
  {% endblock%}
</body>

</html>
